<section class="container">
  <h2 class="titulo">Extrato:</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <tr class="tabela__linha">
        <th class="tabela__cabecalho__conteudo">Data:</th>
        <th class="tabela__cabecalho__conteudo">Valor:</th>
        <th class="tabela__cabecalho__conteudo">Destino:</th>
      </tr>
    </thead>
    <tbody *ngIf="transferencias.length; else listaVazia">
      <tr *ngFor="let transferencia of transferencias" class="tabela__linha">
        <td class="tabela__conteudo">
          {{ transferencia?.data | date: "short" }}
        </td>
        <td class="tabela__conteudo">{{ transferencia?.valor | currency }}</td>
        <td class="tabela__conteudo">{{ transferencia?.destino }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <p>Nenhuma transação cadastrada!</p>
  </ng-template>
</section>
