<section class="container">
  <form (ngSubmit)="transferir()" class="formulario">
    <h2 class="formulario__titulo">Nova transferência:</h2>
    <div class="form-field">
      <label class="form-field__label" for="valor">Valor:</label>
      <input
        [(ngModel)]="valor"
        class="form-field__input"
        id="valor"
        name="valor"
        type="number"
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="destino">Destino:</label>
      <input
        [(ngModel)]="destino"
        class="form-field__input"
        id="destino"
        name="destino"
        type="text"
      />
    </div>
    <div class="botao-wrapper">
      <button class="botao" type="submit">Transferir</button>
    </div>
  </form>
</section>
