/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #369c38;
  --secondary: #132A13;
  --padding: 15px;
  --cinza: #405040;
  --cinza-claro: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
